body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #eee;
}

header {
    background-color: #182737;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 32px;
}

.profesion {
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 2px;
    word-spacing: 15px;
    margin: 0;
    margin-top: 0;
    color: #28a745;
}

main {
    padding: 20px;
    margin: 0;
    max-width: 100%;
    background-color: #4F266C;
    color: #444;
}

.img__martin {
    display: block;
    margin: 0 auto;
    width: 50%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px #0009;
}

.saludo {
    margin-top: 20px;
    margin-bottom: 5px;
}

.descripcion {
    text-align: center;
    margin-top: 0;
}

section {
    padding: 20px 40px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.periodo {
    font-style: italic;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin: 5px 0 ;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #28a745;
}

a:hover {
    color: #28a746bd;
}

footer {
    background-color: #ddd;
    margin: 0;
    padding: 20px 20px;
    font-size: 12px;
    text-align: center;
}

.footer__content {
    margin: 0;
    padding: 5px 10px;
    color: #888;
}